<div class="profile">
  <div>
    <div class="profileIcon">
      <i class="fa-regular fa-circle-user fa-2x active" appClickoutside (clickOutside)="appClickoutside()" (click)="toggleprofile()"></i>
      <ul *ngIf="isoppend">
        <li [routerLink]="['assist-profile']"><i class="fa-regular fa-user"></i>Profile</li>
        <li><i class="fa-solid fa-credit-card"></i>My Payments</li>
        <li (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>Logout</li>
      </ul>
    </div>
  </div>
</div>
<!--/////////////////////////////////////////////-->
<h2>Dashboard</h2>
<div class="links">
  <!-- ================================== -->

  <!-- ================================== -->
  <a [routerLink]="['assist-patient']">
    <div class="title">
      <i class="fa-solid fa-users"></i>
      <span>Patient</span>
    </div>
    <div class="down">
      <span>View Details</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </a>
  <!-- ================================== -->
  <a [routerLink]="['assist-agenda']">
    <div class="title">
      <i class="fa-regular fa-calendar-days"></i>
      <span>Agenda</span>
    </div>
    <div class="down">
      <span>View Details</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </a>
  <!-- ================================== -->
  <a [routerLink]="['assist-profile']">
    <div class="title">
      <i class="fa-solid fa-address-card"></i>
      <span>Profile</span>
    </div>
    <div class="down">
      <span>View Details</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </a>
  <!-- ================================== -->
</div>


<!--
<a href=""><i class="fa-solid fa-leaf"></i><span>Nutristion</span></a>
<a href=""><i class="fa-solid fa-leaf"></i><span>Assistant</span></a>
<a href=""><i class="fa-solid fa-leaf"></i><span>agenda</span></a>
<a href=""><i class="fa-solid fa-user"></i><span>Profile</span></a>
-->
