.login {
  position: relative;
}

.login .bg {
  position: relative;
  margin-top: 50px;
  display: flex;
}


.login .bg img:first-of-type {
  width: 50%;
}
.login .bg img:last-of-type {
  width: fit-content;
  position: relative;
  width: 50%;
  left: -230px;
  z-index: -1;
}

.login form {
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #000;
  width: 350px;
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  top: 50px;
  right: 150px;
  padding: 20px;
  padding-top: 35px;
  gap: 20px;
}


.login form > h2{
  text-align: center;
  padding: 5px 60px;
  border-radius: 8px;
  margin-left: 30%;
  margin-bottom: 60px;
  width: fit-content;
  background-color: #ddd;
  color: #688268;
  font-size: 25px;
  position: relative;
}
.login form > h2:before {
  content: "";
  position: absolute;
  left: -45%;
  top: 10px;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: #688268;
}
.login form > h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 60px;
  height: 10px;
  border-radius: 50px;
  background-color: #aaa;
}

.login form input {
  width: 250px;
  padding: 5px 15px;
  border-radius: 8px;
  outline: none;
  background-color: #ddd;
  margin: 0 auto;
  border: 1px solid transparent;
}

.login form input::placeholder  {
  color: #000;
}

.login form input:focus {
  border: 1px solid #111;
}

.login form button {
  width: 120px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  background-color: #ddd;
  color: #688268;
  font-size: 23px;
  border-radius: 8px;
  transition: 0.3s;
}

.login form button:hover {
  background-color: #aaa;
}

@media (max-width:992px){
  .login .bg img:first-of-type{
    display: none;
  }
  .login .bg img:last-of-type {
    width: 70%;
    left: 10px;
  }
}
@media (max-width:767px){
  .login .bg img:first-of-type{
    display: none;
  }
  .login .bg img:last-of-type {
    display: none;
  }
  .login form {
    left: 50%;
    transform: translateX(-50%);
  }
}


span{
  color: red;
  text-align: center;
  margin: 0;
}
