<div class="globalpatient">
  <div class="profilepatient">


    <div class="fiche active">
      <button type="button" class="btnsregime"><i class="fa-solid fa-arrow-left"></i></button>
      <h1>fiche regime</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ex
        impedit tenetur assumenda deleniti adipisci voluptatem illum omnis
        numquam accusamus, maiores, consectetur voluptate esse veritatis
        obcaecati voluptas, eos commodi? Incidunt!
      </p>
    </div>

    <div class="datapatient">
      <img src="./assets/pdpBg.jpg" alt="" class="bgpatient" />
      <div>
        <h1>Rayne Andolsi</h1>
        <p>rayen.andolsi98@gmail.com</p>
        <button type="button">edit profile</button>
      </div>
      <img src="./assets/pdp.png" alt="" class="pdp" />
    </div>

    <div class="nutrition">
      <div class="nutrition-card">
        <img
          src="https://app.nutritioapp.com/images/pages/my_food.jpg"
          alt="food"
          width="131"
        />
        <div>
          <h3>My food</h3>
          <p>
            Add and manage your own foods!
            <br />
            We already have a database with more than 80,000 items and recipes.
          </p>
          <a>LEARN MORE</a>
        </div>
      </div>
      <div class="nutrition-card">
        <img
          src="https://app.nutritioapp.com/images/pages/my_recipes.jpg"
          alt="food"
          width="131"
        />
        <div>
          <h3>My food</h3>
          <p>
            Add and manage your own foods!
            <br />
            We already have a database with more than 80,000 items and recipes.
          </p>
          <a>LEARN MORE</a>
        </div>
      </div>
    </div>

    <div class="progress_p">
        <h2>Progress</h2>

    <div class="cards">

        <div class="c" *ngFor="let i of cardsname">
          <h4>{{i}}</h4>
          <span>9999</span>
        </div>
      </div>

      <canvas id="piechart"></canvas>
    </div>

    <div class="doctor">
      <a class="doctor_profile" href="">
        <img
          src="https://media.licdn.com/dms/image/C4D03AQE7YScjLU4qhQ/profile-displayphoto-shrink_800_800/0/1584844567410?e=2147483647&v=beta&t=kfCdZUdTLS654Rtigf8QjpaUXT1DyvbaICarBIonbQg"
          alt="doctorPDP"
        />
        <div>
          <h3>rayen andolsi</h3>
          <p>Dietitian</p>
          <span>4.2<i class="fa-solid fa-star"></i></span>
        </div>
      </a>
    </div>

  </div>
</div>
