<div class="globalpatient" >
  <div class="profilepatient" >
    <h1>Profile {{pofilename}}</h1>
    <div>
      <div class="imgpatient">
        <img src="./assets/pdpBg.jpg" alt="" class="bgpatient" height="50" />
        <img src="./assets/pdp.png" alt="" class="pdp" height="50" />
      </div>
      <div class="donnep">
        <h2>{{pofilename}}</h2>
        <p>{{pofilemail}}</p>
        <button>edit profile</button>
      </div>
    </div>
  </div>

  <div class="rating">
    <h3>reviews</h3>
    <!-- ============== -->
    <div class="box">
      <!---->
      <div>
        <div class="stars">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <p>from 20 people</p>
      </div>
      <!---->
      <div class="comments">

      </div>
      <!---->
    </div>
  </div>
</div>
