<div mat-dialog-content>
  <section>
  <form (ngSubmit)="create()" [formGroup]="loadform">
    <div class="inputs">

      <input type="text" placeholder="famille" name="famille" id="famille"  formControlName="famille">
      <input type="text" placeholder="nom" name="nom" id="nom"  formControlName="nom">
      <input type="email" placeholder="Calories" name="Calories" id="Calories"  formControlName="calorie">
      <input type="text" placeholder="Proteines" name="Proteines" id="Proteines"  formControlName="proteine">
      <input type="text" placeholder="glucides" name="glucides" id="glucides"  formControlName="glucide">
      <input type="text" placeholder="lipides" name="lipides" id="lipides"  formControlName="lipide">
      <input type="text" placeholder="quantite" name="quantite" id="quantite"  formControlName="quantity">


    </div>
    <input type="submit" value="{{data ?'Update':'Save'}}" class="submit" >
  </form>
</section>
</div>
