

<div class="header">

  <div class="inp">
    <input type="search" id="search" placeholder="search"><i class="fa-solid fa-magnifying-glass icon"></i>
  </div>

  <a routerLinkActive="" (click)="istableau = false">Create</a>


</div>


<div *ngIf="istableau === true">

  <table>
    <tr>
      <th><i class="fas fa-regular fa-user"></i> Name</th>
      <th><i class="fas fa-regular fa-phone"></i> Phone</th>
      <th><i class="fas fa-light fa-location-dot"></i> Location</th>
      <th>Actions</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="action"><a href=""><i class="fas fa-light fa-pen-to-square"></i></a> <a href=""><i class="fas fa-regular fa-trash"></i></a></td>
    </tr>
  </table>

</div>

<section *ngIf="istableau === false">
  <form (ngSubmit)="create()" [formGroup]="loginForm">
    <div class="inputs">
      <input type="text" placeholder="First Name" name="FirstName" id="FirstName" [(ngModel)]="FirstName" formControlName="FirstName">
      <input type="text" placeholder="last Name" name="LastName" id="LastName" [(ngModel)]="LastName" formControlName="LastName">
      <input type="email" placeholder="Email" name="Email" id="Email" [(ngModel)]="Email" formControlName="Email">
      <input type="date" placeholder="birth_date" name="birth_date" id="birth_date" [(ngModel)]="birth_date" formControlName="birth_date">
      <input type="text" placeholder="phone" name="phone" id="phone" [(ngModel)]="phone" formControlName="phone">
      <input type="password" placeholder="password_confirmation" name="password" id="password_confirmation" [(ngModel)]="password" formControlName="password">
      <input type="password" placeholder="password" name="password" id="password" [(ngModel)]="password" formControlName="password">
    </div>
    <input type="submit" value="CREATE" class="submit" >
  </form>
</section>
