

.profilepatient{
  padding: 10px;
  margin-bottom: 20px;
}
.profilepatient > h1 {
  font-size: 35px;
  padding: 10px 20px;
}
.profilepatient .imgpatient {
  position: relative;
}
.profilepatient .imgpatient .bgpatient{
  height: 200px;
  border-radius: 12px 12px 0 0;
}
.profilepatient .imgpatient .pdp {
  position: absolute;
  height: 60px;
  left: 15px;
  bottom: 0;
  transform: translateY(50%);
  border-radius: 50%;
  border: 2px solid #688268;
}

.profilepatient .donnep {
  width: 360px;
  padding-left: 80px;
  position: relative;
}

.profilepatient .donnep * {
  margin: 0;
}

.profilepatient .donnep button {
  position: absolute;
  white-space: nowrap;
  z-index: 999;
  left: 272px;
  top: 45%;
  outline: none;
  border: none;
  padding: 0px 10px;
  background-color: #688268;
  color: #fff;
  border-radius: 8px;
}

/* rating*/
ngb-rating{
  color: gold;
  font-size: 50px;
}
