<div class="profile">
  <div>
    <div class="notifIcon">
      <i
        (click)="onclick()"
        class="fa-regular fa-bell fa-lg notifbtn"
        data-notif="99"
        matTooltip="Notifications"
        #tooltip="matTooltip"
      ></i>
      <span *ngIf="data.length != 0 && click == false">
        {{ data.length }}
      </span>
    </div>
    <div class="d-none listnotif">
      <div class="titrenotif">Notifications</div>
      <nav>
        <p *ngIf="data.length == 0 " class="">you have 0 Notifications</p>

        <a *ngFor="let i of data">
          <div>
            <i class="fa-regular fa-user"></i>
          </div>
          <div class="noticontent">
            <div>
              <h4>{{ i.title }}</h4>
              <p>azezaeazdasf</p>
            </div>
            <span>{{i.start}} {{ i.end }}</span>
          </div>
        </a>

      </nav>
    </div>
    <!--profile icon-->
    <div class="profileIcon">
      <i class="fa-regular fa-circle-user fa-2x active" Clickoutside (clickOutside)="appClickoutside()" (click)="toggleprofile()"></i>
      <ul *ngIf="isoppend">
        <li [routerLink]="['nutr-profile']"><i class="fa-regular fa-user"></i>Profile</li>
        <li><i class="fa-solid fa-credit-card"></i>My Payments</li>
        <li (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i>Logout</li>
      </ul>
    </div>

  </div>
</div>
<!--/////////////////////////////////////////////-->
<h2 class="dashboard-h2">Dashboard</h2>
<div class="links">
  <!-- ================================== -->
  <a [routerLink]="['patient']">
    <div class="title">
      <i class="fa-solid fa-users"></i>
      <span>Patient</span>
    </div>
    <span class="nb">{{ patients.length }}</span>
    <div class="down">
      <span>View Details</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </a>
  <!-- ================================== -->
  <a [routerLink]="['agenda']">
    <div class="title">
      <i class="fa-regular fa-calendar-days"></i>
      <span>Agenda</span>
    </div>
    <div class="down">
      <span>View Details</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </a>
  <!-- ================================== -->
  <a [routerLink]="['assistant']">
    <div class="title">
      <i class="fa-solid fa-user-pen"></i>
      <span>Assistant</span>
    </div>
    <span class="nb">{{ assistant.length }}</span>
    <div class="down">
      <span>View Details</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </a>
  <!-- ================================== -->
  <a [routerLink]="['nutr-profile']">
    <div class="title">
      <i class="fa-solid fa-address-card"></i>
      <span>Profile</span>
    </div>
    <div class="down">
      <span>View Details</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </a>
  <!-- ================================== -->
</div>

<!--
<a href=""><i class="fa-solid fa-leaf"></i><span>Nutristion</span></a>
<a href=""><i class="fa-solid fa-leaf"></i><span>Assistant</span></a>
<a href=""><i class="fa-solid fa-leaf"></i><span>agenda</span></a>
<a href=""><i class="fa-solid fa-user"></i><span>Profile</span></a>
-->
