<section>
  <div class="header">
    <img src="assets/Capture2.PNG" alt="logo" [routerLink]="['/admin', id]" [queryParams]="{username : firstname}" style="cursor: pointer;">
    <img src="assets/pdp.jpg" alt="pdp" [routerLink]="['/admin', id]" [queryParams]="{username : firstname}" style="cursor: pointer;">
    <div class="name" >
      <h2>{{firstname}} {{lastname}}</h2>
      <p>{{email}}</p>
    </div>
    <nav>
      <a [routerLink]="['admin-nutr']" routerLinkActive="active">nutritionist</a>
      <a [routerLink]="['admin-assistant']" routerLinkActive="active">Assistant</a>
      <a [routerLink]="['paiement']" routerLinkActive="active">Paiement</a>
      <a [routerLink]="['aliment']" routerLinkActive="active">Aliment</a>
    </nav>
    <a href="" class="logout"><button class="fas fa-sign-out-alt" (click)="logout()"> logout</button></a>
  </div>

  <div class="change">
    <router-outlet></router-outlet>
  </div>
</section>




