<div class="container">


<section class="land">
  <div class="container">
      <h1>Weight Loss Made Easy</h1>
      <div class="box">
          <div class="card">
              <h2>Set Your Goals</h2>
              <img src="assets/1-removebg-preview.png" alt="image 1">
              <p>Tell us what you want to achieve and receive personalized goals.</p>
          </div>
          <div class="card">
              <h2>Track Your Food</h2>
              <img src="assets/2-removebg-preview.png" alt="image 2">
              <p>Learn about the foods you’re eating and keep your calories within your daily budget.</p>
          </div>
          <div class="card">
              <h2>Lose Weight</h2>
              <img src="assets/3-removebg-preview.png" alt="image 3">
              <p>Reach your goals and continue to set new ones for a happier, healthier you!</p>
          </div>
      </div>

  </div>
</section>
</div>
