<!--***************************fiche consultation*************-->
<div class="formp" >
  <button type="button" (click)="goback()"><i class="fa-solid fa-xmark"></i></button>
  <h1>fiche consultation</h1>
  <form>
    <div class="left-side">

      <label for="">poids</label>
      <input type="text">

      <label for="">taille</label>
      <input type="text">
    </div>
    <!-- ============================= -->
    <div class="right-side">
      <label for="">tour de taille</label>
      <input type="text">

      <label for="">tour de hanche</label>
      <input type="text">

      <label for="">volumes d'eau</label>
      <input type="text">

      <label for="">masse de graisse</label>
      <input type="text">

      <label for="">masse musculaire</label>
      <input type="text">

      <input type="submit" value="Submit">

    </div>
  </form>
</div>
<!--*****************************************************-->
