

section >div {
  margin-bottom: 80px;
}

section > h1{
  padding: 20px;
  font-size: 35px;
}
section .profile {
  position: relative;
  padding: 0 20px
}
section .profile .bg {
  height: 200px;
  border-radius: 12px 12px 0 0;
}
section .profile .pdp {
  position: absolute;
  left: 50px;
  bottom: 20px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

section .det {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  padding-left: 100px;
}

section .det div * {
  padding: 0;
  margin: 0;
}
section .det div h3 {
  font-weight: 700;
  font-size: 17px;
}

section .det button {
  white-space: nowrap;
  outline: none;
  border: none;
  padding: 0px 10px;
  background-color: #688268;
  color: #fff;
  border-radius: 8px;
}

/*------dashboard-admin------------*/

.links {
  padding: 20px;
  display: grid !important;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.links a {
  position: relative;
  overflow: hidden;
  background-color: #688268;
  height: 150px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.links a .title {
  font-size: large;
  gap: 5px;
  padding-left: 15px;
  padding-top: 15px;
}
.links a .title span {
  padding-left: 10px;
}

.links a .down {
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: #9bad9b;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a .down span {
  text-decoration: underline;
}

.links a .nb {
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 50%;
}

.links a:hover {
  filter: brightness(90%);
}

