<div class="container">
  <div class="row">
    <div class="col">
<section>
  <div class="global">
    <div class="profilePage">
      <h1>Profile</h1>
      <div class="profile">
        <div>
          <img src="assets/pdpBg.jpg" alt="background">
          <img src="assets/ProfilePictureMaker.png" alt="pdp">
        </div>
        <div>
          <h2>exemple exemple</h2>
          <p>exemple@gmail.com</p>
          <button>Edit Profile</button>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
  
  <div class="col">
    <h1>FICHE REGIME</h1>

      <form class="example-form">
        <mat-form-field>
          <input
            type="text"
            placeholder="SEARCH"
            [formControl]="myControl"
            matInput
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option.name"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>


  </div>

</div>
</div>
