<section>
  <h1>Admin Profile</h1>
  <div class="profile">
    <img src="./assets/pdpBg.jpg" alt="" class="bg" height="50" />
    <img src="./assets/pdp.png" alt="" class="pdp" height="50"/>
    <div class="det">
      <div>
        <h3>test</h3>
        <p>test@test.test</p>
      </div>
      <button>edit profile</button>
    </div>
  </div>
  <div class="dashboard"></div>

  <!--///////////////////////////////////////////////////////////////////////-->


<div class="links">
  <!-- ================================== -->
  <a [routerLink]="['admin-nutr']">
    <div class="title">
      <i class="fa-solid fa-users"></i>
      <span>nutritionist</span>
    </div>
    <span class="nb">{{nutritionist.length}}</span>
    <div class="down">
      <span>View Details</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </a>
  <!-- ================================== -->
  <a [routerLink]="['aliment']">
    <div class="title">
      <i class="fa-solid fa-utensils"></i>
      <span>Aliment</span>
    </div>
    <div class="down">
      <span>View Details</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </a>
  <!-- ================================== -->
  <a [routerLink]="['admin-assistant']">
    <div class="title">
      <i class="fa-solid fa-user-pen"></i>
      <span>Assistant</span>
    </div>
    <span class="nb">{{assistant.length}}</span>
    <div class="down">
      <span>View Details</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </a>
  <!-- ================================== -->
  <a [routerLink]="['paiement']">
    <div class="title">
      <i class="fa-solid fa-credit-card"></i>
      <span>Paiement</span>
    </div>
    <div class="down">
      <span>View Details</span>
      <i class="fa-solid fa-angle-right"></i>
    </div>
  </a>
  <!-- ================================== -->
</div>

</section>
