<section>
  <div class="globalpatient">
    <div class="profilepatient" *ngFor="let i of events">
      <h1>Profile {{i.firstname}}</h1>
      <div>
        <div class="imgpatient">
          <img src="./assets/pdpBg.jpg" alt="" class="bgpatient" height="50">
          <img src="./assets/pdp.png" alt="" class="pdp" height="50">
        </div>
        <div class="donnep">
          <h2>{{i.firstname}} {{i.lastname}}</h2>
          <p>{{i.email}}</p>
          <button>edit profile</button>
        </div>
      </div>
    </div>
    <!-- buton progress etc ... -->
    <div class="iconpatient">
      <button type="button" (click)="openstat()"><i class="fa-solid fa-gauge-high"></i><span>Progress</span></button>
      <button type="button" (click)="openNote()"><i class="fa-solid fa-clipboard"></i><span>Notes</span></button>
    </div>
    <!--fiche consultation etc ... -->
    <div class="fichetitle">
        <div class="controls">
          <div class="f-one active" data-fiche="one">fiche consoultation</div>
          <div class="f-two" data-fiche="two">fiche patient</div>
        </div>
        <div class="btns">
          <div class="fiche one active" id="one">
            <button [routerLink]="['ficheconsulation']">
              <i class="fa-solid fa-plus"></i>
              create new consultation
            </button>
            <button>1</button>
          </div>
          <div class="fiche two " id="two">
            <button [routerLink]="['fichepatient']">
              <i class="fa-solid fa-plus"></i>
              create new Patient
            </button>
            <button>2</button>
          </div>
        </div>
    </div>
  </div>
<router-outlet></router-outlet>



  <!-- ************************  Note  ******************-->
  <div class="note" *ngIf="opnote" cdkDrag>
    <div class="top">
      <span><i class="fa-regular fa-circle-user"></i>Demo patient</span>
      <button type="button" (click)="openNote()"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <ul class="mid">
      <!-- /////////////////////// -->
      <li>
        <div class="date">{{formattedDate}}</div>
        <div class="task" *ngFor="let i of notes;let id = index">
          <span>{{i.note}}</span><button (click)="deleteNote(i.id)"><i class="fa-regular fa-trash-can"></i></button>
        </div>
      </li>
      <!-- /////////////////////// -->
    </ul>
    <div class="down" [formGroup]="noteform">
      <textarea rows="2" cols="38" placeholder="add note" formControlName="note"></textarea>
    </div>
    <button type="button" class="save" (click)="savenote()">save note</button>
  </div>
<!--*****************************************************-->
</section>



