
<header>

  <a routerLink="/"><img src="assets/Capture.PNG" ></a>
  <mat-icon class="bars">menu</mat-icon>
  <ul>
      <li><a routerLink="/">Overview</a></li>
      <li><a routerLink="/features">Features</a></li>
      <li><a routerLink="/contact">Contact As</a></li>
      <li><a routerLink="/about">About As</a></li>
  </ul>

<form >
  <button mat-button routerLink="/login"> Log In</button>
 <!--<button mat-button routerLink=""> <mat-icon>perm_identity</mat-icon>Sign Up</button>-->

</form>
</header>
<router-outlet></router-outlet>
