
<header>

  <a routerLink="/"><img src="assets/Capture2.PNG" ></a>
  <mat-icon class="bars" id="bars" (click)="onActiveIcion($event)">menu</mat-icon>
  <ul>
      <li ><a routerLink="/" (click)="disableClick()">Overview</a></li>
      <li routerLinkActive="active"><a routerLink="/features" (click)="disableClick()">Features</a></li>
      <li routerLinkActive="active"><a routerLink="/contact" (click)="disableClick()">Contact As</a></li>
      <li routerLinkActive="active"><a routerLink="/about" (click)="disableClick()">About As</a></li>
  </ul>

<form >
  <button mat-button routerLink="/login"> Log In</button>
<!--<button mat-button routerLink=""> <mat-icon>perm_identity</mat-icon>Sign Up</button>-->

</form>
</header>


<main [@routerTransition]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
</main>

